p{
    color: aqua;
}

/* 1 и 3 цвет оранжевый */

/* 
    selectors
        1. tag name{}
        2. .class name{}
        3. id 
*/

.color_orange{
    color: orange;
}

.bold{
    font-weight: bold;
}

#p4{
    /* Цвет текста */
    color: red;
    /* Жирность шрифта */
    font-weight: bolder;
}

h1{
    /* Размер шрифта */
    font-size: 40px;
    /* Выравнивание текста */
    text-align: center;
}

.test_p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
    /* underline, overline, line-through */
    /* начертание текста-курсив */
    font-style: italic;
    /* выравнивание текста по ширине */
    text-align: justify;
    /* отступ между строк */
    line-height: 50px;
    /* Отступ первой строки */
    text-indent: 40px;
    /* Фоновый цвет */
    background-color: lightpink;
    /* Ширина */
    width: 800px;
    /* Высота */
    height: 1000px;
}

.red{
    color: red;
}

.main{
    width: 500px;
}
